body {
	padding: 0px;
	margin: 0px;
}
.topBar {
	background-color: #F0F0F0;
}
.topFont {
	font-family: Vivaldi;
	font-size: 44px;
	color: #F0F0F0;
	filter: Shadow(Color=#7D7D7D, Direction=120);
	font-weight: 900;
	width: 100%;
	height: 50px;
}
.menuBar {
	background-color: #EAEAEA;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.menuButton {
	background-color: #EAEAEA;
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
}
.menuButton a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.menuButton a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.menuButton a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #BB0000;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #A2A2A2;
	border-left-color: #A2A2A2;
	background-color: #D5D5D5;
}
.menuButton a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.bottomBar {
	background-color: #EAEAEA;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.bottomInfo {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	background-color: #EAEAEA;
}
.bottomInfo a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #3300CC;
	text-decoration: none;
}
.bottomInfo a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #3300CC;
	text-decoration: none;
}
.bottomInfo a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #BB0000;
}
.bottomInfo a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #3300CC;
}
.tableListMenu {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
}
.tableListMenu a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableListMenu a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableListMenu a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #BB0000;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableListMenu a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableListHead {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
	padding: 3px;
	font-weight: bold;
}
.tableListHead a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableListHead a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableListHead a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #BB0000;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.tableListHead a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableListField {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #0632CC;
	background-color: #DCDCDC;
	padding: 3px;
	border: 1px solid #C8C8C8;
	text-align: center;
	font-weight: bold;
}
.tableListField a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #0632CC;
	padding: 3px;
	font-weight: bold;
}
.tableListField a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #0632CC;
	padding: 3px;
	font-weight: bold;
}
.tableListField a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #0632CC;
	padding: 3px;
	font-weight: bold;
}
.tableListField a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #0632CC;
	padding: 3px;
	font-weight: bold;
}
.tableListRow {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	background-color: #F0F0F0;
	padding: 3px;
	border: 1px solid #DCDCDC;
	text-align: right;
}
.tableListRow a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	padding: 3px;
}
.tableListRow a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	padding: 3px;
}
.tableListRow a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	padding: 3px;
}
.tableListRow a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	padding: 3px;
}
.tableListRowA {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #CC0000;
	background-color: #F0F0F0;
	padding: 3px;
	border: 1px solid #DCDCDC;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
}
.tableListRowA a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #CC0000;
	padding: 3px;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
}
.tableListRowA a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #CC0000;
	padding: 3px;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
}
.tableListRowA a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #CC0000;
	padding: 3px;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
}
.tableListRowA a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #CC0000;
	padding: 3px;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
}
.tableMenu {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
}
.tableMenu a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableMenu a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableMenu a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #BB0000;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.tableMenu a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.tableHead {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
	padding: 3px;
	font-weight: bold;
}
.tableHead a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.tableHead a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.tableHead a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #BB0000;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	background-color: #D5D5D5;
	border: 1px solid #C8C8C8;
}
.tableHead a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.tableField {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #0632CC;
	background-color: #DCDCDC;
	padding: 3px;
	border: 1px solid #C8C8C8;
	text-align: center;
	font-weight: bold;
}
.tableField a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.tableField a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.tableField a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #BB0000;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #A2A2A2;
	border-left-color: #A2A2A2;
	background-color: #D5D5D5;
}
.tableField a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 11px;
	color: #000033;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #EAEAEA;
	border-left-color: #EAEAEA;
}
.tableRow {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #000033;
	background-color: #F0F0F0;
	padding: 5px;
	border: 1px solid #DCDCDC;
}
.tableRow a:link {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #7D7D7D;
}
.tableRow a:visited {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #7D7D7D;
}
.tableRow a:hover {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #BB0000;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-color: #DCDCDC;
	border: 1px solid #7D7D7D;
}
.tableRow a:active {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #000033;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #7D7D7D;
}
.tableBorder {
	border: 2px solid #C8C8C8;
}
.tableInput {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0632CC;
	background-color: #DCDCDC;
	border: 1px solid #C8C8C8;
	font-weight: bold;
}
.submitButton {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #000033;
	background-color: #F0F0F0;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	border: 1px solid #7D7D7D;
}
.tableHead {
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
	color: #0529A8;
	padding: 3px;
	font-weight: bold;
}
